.container {
    display: flex;
    width: 600px;
    height: 600px;
    background-color: white;
    border: 5px solid black;
    justify-content: stretch;
    flex-wrap: wrap;
    align-items: stretch;
    margin: auto;
}
.cells {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0px;
}
body {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: whitesmoke;
  }
  button {
    margin: auto;
    font-size: larger;
    padding: 20px;
  }
#btncontainer {
    display: flex;
    justify-content: space-evenly;
    border: 6px solid black;
    width: 600px;
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px 10px;
}
#containermini {
    display: flex;
    flex-direction: column;
    align-items: center;

}